__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
data/app.db
static/uploads/*
!static/uploads/.keep
static/results/*
!static/results/.keep
.DS_Store
app/integrations/gdrive/client_secrets.json
app/integrations/gdrive/token.json
app/static/uploads/
*.png
!static/uploads/.keep
!static/results/.keep