/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html {
  font-size: 15px;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Styling */

.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 212, 212);
  justify-content: center;
  align-items: center;
  border: 10px solid green;
  background-image: url(./assets/ui/bg.png);
}

.action-btn{
  display: flex;
  flex-direction: row;  
  gap: 2rem;
}

.btn{
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid rgb(0, 0, 0);
  background: #bf9b30;
  cursor: pointer;
  font-size: 3rem;
  padding: 0rem 2rem 0rem 2rem ;
  margin-top: 4rem;
  color: white;
}

.btn:disabled{
  opacity: 0.45;
  cursor: not-allowed;
}

.title {
  color: white;
  font-size: 7rem;
  margin-bottom: 4rem;
}